* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
}

.button-collection {
  display: flex;
  flex-direction: column;
}

.buttontn-group > * {
  height: 100%;
}

.last-btns > :first-child {
  flex: 2.03;
}

.colors {
  color: #e0e0e0;
}
